<div class="c-social container work__container">
    <h3 class="c-social__title">
      <div class="c-social__primary">
        想了解更多或是查找类似的东西？
      </div>
      <div class="c-social__secondary">
        在线查找或者
        <a href="/contact">联系我</a>
      </div>
    </h3>
    <ul class="c-social-links">
      <li class="c-social-links__item">
        <a
          href="{{ .Site.Params.github }}"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-github c-social-links__icon"></i>
          <span class="c-social-links__label">Github</span>
        </a>
      </li>
      <li class="c-social-links__item">
        <a
          href="{{ .Site.Params.bilibili }}"
          target="_blank"
          rel="noopener"
        >
          <i class="icon-bilibili c-social-links__icon"></i>
          <span class="c-social-links__label">Bilibili</span>
        </a>
      </li>
      <li class="c-social-links__item">
        <a href="{{ .Site.Params.blog }}" target="_blank" rel="noopener">
          <i class="icon-blog c-social-links__icon"></i>
          <span class="c-social-links__label">Blog</span>
        </a>
      </li>
    </ul>
  </div>